In [14]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [27]:
work5 = pd.read_csv('creditcard.csv')

In [29]:
work5.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

In [31]:
work5.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284807 entries, 0 to 284806
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    284807 non-null  float64
 1   V1      284807 non-null  float64
 2   V2      284807 non-null  float64
 3   V3      284807 non-null  float64
 4   V4      284807 non-null  float64
 5   V5      284807 non-null  float64
 6   V6      284807 non-null  float64
 7   V7      284807 non-null  float64
 8   V8      284807 non-null  float64
 9   V9      284807 non-null  float64
 10  V10     284807 non-null  float64
 11  V11     284807 non-null  float64
 12  V12     284807 non-null  float64
 13  V13     284807 non-null  float64
 14  V14     284807 non-null  float64
 15  V15     284807 non-null  float64
 16  V16     284807 non-null  float64
 17  V17     284807 non-null  float64
 18  V18     284807 non-null  float64
 19  V19     284807 non-null  float64
 20  V20     284807 non-null  float64
 21  V21     284807 non-null  float64
 22  V22     284807 non-null  float64
 23  V23     284807 non-null  float64
 24  V24     284807 non-null  float64
 25  V25     284807 non-null  float64
 26  V26     284807 non-null  float64
 27  V27     284807 non-null  float64
 28  V28     284807 non-null  float64
 29  Amount  284807 non-null  float64
 30  Class   284807 non-null  int64
dtypes: float64(30), int64(1)
memory usage: 67.4 MB

In [33]:
work5.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    0
Class     0
dtype: int64

In [35]:
work5['Class'].value_counts()

Class
0    284315
1       492
Name: count, dtype: int64

In [37]:
legit = work5[work5.Class == 0]
fraud = work5[work5.Class == 1]

In [39]:
print(legit.shape)
print(fraud.shape)

(284315, 31)
(492, 31)

In [41]:
legit.Amount.describe()

count    284315.000000
mean         88.291022
std         250.105092
min           0.000000
25%           5.650000
50%          22.000000
75%          77.050000
max       25691.160000
Name: Amount, dtype: float64

In [43]:
fraud.Amount.describe()

count     492.000000
mean      122.211321
std       256.683288
min         0.000000
25%         1.000000
50%         9.250000
75%       105.890000
max      2125.870000
Name: Amount, dtype: float64

In [45]:
work5.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,94838.202258,0.008258,-0.006271,0.012171,-0.007860,0.005453,0.002419,0.009637,-0.000987,0.004467,...,-0.000644,-0.001235,-0.000024,0.000070,0.000182,-0.000072,-0.000089,-0.000295,-0.000131,88.291022
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

In [47]:
legit_sample = legit.sample(n=492)

In [55]:
newdataset = pd.concat([legit_sample, fraud], axis=0)

In [57]:
newdataset.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
76993,56833.0,-0.595659,-0.082219,1.359428,-2.069376,-0.040896,-0.223582,0.542602,-0.107996,-1.259418,...,0.137506,0.313558,-0.163581,-0.524591,0.203561,-0.384884,0.115946,-0.071141,80.00,0
201320,133834.0,1.924213,-0.543317,-0.191901,0.450409,-0.924405,-0.379481,-0.781709,0.145662,1.389037,...,0.237793,0.848114,0.132996,0.069253,-0.181157,-0.234351,0.030047,-0.048104,9.99,0
157837,110506.0,-0.752217,1.016902,1.848389,-0.423591,0.579710,0.357231,0.481070,-0.288601,1.809927,...,-0.324645,-0.617497,-0.429896,-1.171696,0.344162,-0.698579,-0.489863,-0.154118,2.12,0
202806,134501.0,2.113085,0.118685,-2.216281,0.068355,1.059381,-0.478004,0.617196,-0.336509,-0.275471,...,0.134820,0.600719,-0.071552,0.339410,0.456584,0.688869,-0.110504,-0.090751,0.76,0
230262,146260.0,2.274520,-1.073048,-1.930744,-1.527309,-0.637919,-1.712280,-0.063756,-0.694059,-2.125921,...,-0.022213,0.337500,0.006200,0.084637,0.258971,0.001167,-0.051441,-0.061414,67.00,0

In [59]:
newdataset['Class'].value_counts()

Class
0    492
1    492
Name: count, dtype: int64

In [61]:
newdataset.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,96433.979675,-0.037950,-0.004239,0.173349,0.101047,-0.029706,-0.047587,-0.010141,-0.014612,0.016507,...,-0.041273,-0.014683,-0.001213,0.078541,-0.002152,0.009473,-0.000004,0.049030,0.005853,82.451362
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

In [73]:
x = newdataset.drop(columns='Class', axis=1)
y = newdataset['Class']

In [75]:
print(x)

            Time        V1        V2        V3        V4        V5        V6  \
76993    56833.0 -0.595659 -0.082219  1.359428 -2.069376 -0.040896 -0.223582
201320  133834.0  1.924213 -0.543317 -0.191901  0.450409 -0.924405 -0.379481
157837  110506.0 -0.752217  1.016902  1.848389 -0.423591  0.579710  0.357231
202806  134501.0  2.113085  0.118685 -2.216281  0.068355  1.059381 -0.478004
230262  146260.0  2.274520 -1.073048 -1.930744 -1.527309 -0.637919 -1.712280
...          ...       ...       ...       ...       ...       ...       ...
279863  169142.0 -1.927883  1.125653 -4.518331  1.749293 -1.566487 -2.010494
280143  169347.0  1.378559  1.289381 -5.004247  1.411850  0.442581 -1.326536
280149  169351.0 -0.676143  1.126366 -2.213700  0.468308 -1.120541 -0.003346
281144  169966.0 -3.113832  0.585864 -5.399730  1.817092 -0.840618 -2.943548
281674  170348.0  1.991976  0.158476 -2.583441  0.408670  1.151147 -0.096695

              V7        V8        V9  ...       V20       V21       V22  \
76993   0.542602 -0.107996 -1.259418  ...  0.449347  0.137506  0.313558
201320 -0.781709  0.145662  1.389037  ... -0.292271  0.237793  0.848114
157837  0.481070 -0.288601  1.809927  ...  0.020645 -0.324645 -0.617497
202806  0.617196 -0.336509 -0.275471  ... -0.115332  0.134820  0.600719
230262 -0.063756 -0.694059 -2.125921  ... -0.291289 -0.022213  0.337500
...          ...       ...       ...  ...       ...       ...       ...
279863 -0.882850  0.697211 -2.064945  ...  1.252967  0.778584 -0.319189
280143 -1.413170  0.248525 -1.127396  ...  0.226138  0.370612  0.028234
280149 -2.234739  1.210158 -0.652250  ...  0.247968  0.751826  0.834108
281144 -2.208002  1.058733 -1.632333  ...  0.306271  0.583276 -0.269209
281674  0.223050 -0.068384  0.577829  ... -0.017652 -0.164350 -0.295135

             V23       V24       V25       V26       V27       V28  Amount
76993  -0.163581 -0.524591  0.203561 -0.384884  0.115946 -0.071141   80.00
201320  0.132996  0.069253 -0.181157 -0.234351  0.030047 -0.048104    9.99
157837 -0.429896 -1.171696  0.344162 -0.698579 -0.489863 -0.154118    2.12
202806 -0.071552  0.339410  0.456584  0.688869 -0.110504 -0.090751    0.76
230262  0.006200  0.084637  0.258971  0.001167 -0.051441 -0.061414   67.00
...          ...       ...       ...       ...       ...       ...     ...
279863  0.639419 -0.294885  0.537503  0.788395  0.292680  0.147968  390.00
280143 -0.145640 -0.081049  0.521875  0.739467  0.389152  0.186637    0.76
280149  0.190944  0.032070 -0.739695  0.471111  0.385107  0.194361   77.89
281144 -0.456108 -0.183659 -0.328168  0.606116  0.884876 -0.253700  245.00
281674 -0.072173 -0.450261  0.313267 -0.289617  0.002988 -0.015309   42.53

[984 rows x 30 columns]

In [77]:
print(y)

76993     0
201320    0
157837    0
202806    0
230262    0
         ..
279863    1
280143    1
280149    1
281144    1
281674    1
Name: Class, Length: 984, dtype: int64

In [79]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, stratify=y, random_state=2)

In [81]:
print(x.shape, x_train.shape, x_test.shape)

(984, 30) (787, 30) (197, 30)

In [83]:
model = LogisticRegression()

In [85]:
model.fit(x_train, y_train)

LogisticRegression()

In [87]:
x_train_prediction = model.predict(x_train)
training_data_accuracy = accuracy_score(x_train_prediction, y_train)

In [89]:
print('Accuracy on Training data : ', training_data_accuracy)

Accuracy on Training data :  0.9313850063532402

In [91]:
x_test_prediction = model.predict(x_test)
test_data_accuracy = accuracy_score(x_test_prediction, y_test)

In [93]:
print('Accuracy score on Test Data : ', test_data_accuracy)

Accuracy score on Test Data :  0.883248730964467